/* You can add global styles to this file, and also import other style files */
html, body 
    height: 100%
body 
    margin: 0

*::-webkit-scrollbar 
    width: 0.5em


*::-webkit-scrollbar-thumb 
    background-color: darkgrey
    outline: 1px solid slategrey

mat-icon
    cursor: pointer

th, td
    font-size: 12px

.cabecera-tabla
    background: #0095ED
    color: white
    text-align: center
    padding: 10px 0px

.inputfiltros
    margin-bottom: -0.9rem
    width: 90%

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type
    padding-left: 10px

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:first-of-type
    padding-right: 10px

.a-right
    text-align: right

.a-center
    text-align: center

.a-left
    text-align: left

.example-section 
    display: flex
    align-content: left
    align-items: left
    width: 100%

mat-checkbox
    margin: 0 10px
    width: 50%

.sidenav-container
    height: 100%
    background-color: rgb(255, 255, 255)

.sidenav
    width: 250px
    background: rgba(25, 104, 223, 0.953)

.degradado
    background: rgb(232,232,232)
    background: radial-gradient(circle, rgba(232,232,232,0.8883928571428571) 0%, rgba(249,249,249,1) 100%)

.texcol
    color: aliceblue
    font-size: 14px
    text-align: left
    
.example-spacer
    flex: 1 1 auto

.fijo-abajo
    position: fixed
    left: 0px
    bottom: 0px
    height: 50px
    width:100%
    background:#3843e2

.fijo-arriba
    position: absolute
    left: 0px
    right: 0px
    z-index: 100

mat-form-field 
    width: 100%
    margin: 5px 10px 5px 10px