<div class="container">
    <div class="row">
        <div class="col-lg-4" style="padding-bottom: 25px;">
            <mat-card class="mat-elevation-z8">
                <mat-card-header>
                    <h4>Registra nuevo proceso</h4>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="ProcesoElectoralForm" class="d-flex flex-wrap justify-content-center">
                        <mat-form-field appearance="outline">
                            <mat-label>Ingrese Descripción</mat-label>
                            <input matInput placeholder="Consejo de la Esfot" [formControl]="descripcionCtrl" required>
                            <mat-icon matSuffix matTooltip="Aqui va el nombre o descripción del proceso electoral">help_outline</mat-icon>
                            <mat-error *ngIf="descripcionCtrl.invalid">Llenar el campo por favor</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Ingrese Semestre</mat-label>
                            <input matInput placeholder="Semestre 2020A" [formControl]="semestreCtrl" required>
                            <mat-icon matSuffix matTooltip="Aqui va el semestre que se llevara acabo el proceso electoral">help_outline</mat-icon>
                            <mat-error *ngIf="semestreCtrl.invalid">Llenar el campo por favor</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Fecha de la elección</mat-label>
                            <input matInput [matDatepicker]="picker" [formControl]="fec_eleccionCtrl" placeholder="dd/mm/aaaa" required>
                            <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="Fecha en la que se efectuara el proceso electoral"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                            <mat-error *ngIf="fec_eleccionCtrl.invalid">Llenar el campo por favor</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Hora de Inicio</mat-label>
                            <input matInput [formControl]="horainicioCtrl" type="time" (keypress)="IngresarSoloNumeros($event)" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Hora de Fin</mat-label>
                            <input matInput [formControl]="horafinCtrl" type="time" (keypress)="IngresarSoloNumeros($event)" required>
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <form-btn [formulario]="ProcesoElectoralForm" (onGuardar)="GuardarProcesoElectoral( $event )" (onCancelar)="LimpiarCampos()"></form-btn>
            </mat-card>
        </div>
        <div class="col-lg-8">
            <mat-card class="mat-elevation-z8">
                <mat-form-field style="width: 90%;">
                    <mat-label>Escribe para Filtrar</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                </mat-form-field>
                <div class="table-responsive">
                    <div class="cabecera-tabla">Proceso electoral</div>
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th style="text-align: right;" scope="col">Código</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Semestre</th>
                                <th scope="col">Fecha</th>
                                <th style="text-align: center;" scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reg of lregistros | procesos: filtroProcesos">
                                <td style="text-align: right;" scope="row">{{reg.id}}</td>
                                <td>{{reg.descripcion}}</td>
                                <td>{{reg.estado}}</td>
                                <td>{{reg.semestre}}</td>
                                <td>{{reg.fec_eleccion |date: 'dd-MM-yyyy'}}</td>
                                <td class="d-flex justify-content-center">
                                    <a type="button" [routerLink]="['/listas/', reg.id]"
                                        [queryParams]="{ descripcion: reg.descripcion, estado: reg.estado, semestre: reg.semestre, fecha: reg.fec_eleccion }">
                                        <mat-icon class="icono-style color" matSuffix matTooltip="Visualiza la información de ese proceso electoral">
                                            assignment
                                        </mat-icon>
                                    </a>
                                    <btn-editar [isButtom]="false" [registro]="reg" (onEdit)="abirDialgo( $event )">
                                    </btn-editar>
                                    <btn-eliminar [isButtom]="false" [idreg]="reg.id" [nameTable]="'proceso_electoral'"
                                        (onDelete)="ngAfterViewInit()"></btn-eliminar>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </mat-card>
        </div>
    </div>
    <div class="row"></div>
</div>