<app-dialog-titulo [titulo]=" 'Registrar Lista Candidatura' " (onCerrar)="dialogRef.close( $event )"></app-dialog-titulo>

<form [formGroup]="registrarListaForm">
    <div style="text-align: center;">
        <div class="nota">
            <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón Guardar.</span>
        </div>
        <div class="d-flex flex-wrap justify-content-around">
            <div class="btn-contenedor" style="margin-top: 15px;">
                <figure>
                    <img *ngIf="!imagen_default" src="../../../../../assets/imagenes/photo.png" alt="logo_default" srcset="">
                    <img *ngIf="imagen_default" src="{{logo}}" class="img-fluid" alt="logo_empresa" srcset="">
                    <input (change)="fileChange($event)" type="file" id="archivo" name="image" accept="image/png, image/jpeg">
                    <label for="archivo" class="logo">
                        <mat-icon class="foto-lista">add_a_photo</mat-icon>
                    </label>
                </figure>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
            
                <mat-form-field>
                    <mat-label>Nombre Lista</mat-label>
                    <input matInput mayusculas placeholder="Partido ESFOT" [formControl]="nombre_listaCtrl" required>
                    <mat-icon matSuffix matTooltipPosition="right"
                        matTooltip="Ingresa el nombre de la lista a participar en este proceso.">
                        help_outline</mat-icon>
                    <mat-error *ngIf="nombre_listaCtrl.invalid">Ingrese nombrer de lista. </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Descripción</mat-label>
                    <input matInput trimKeyUp #message maxlength="255" placeholder="..." [formControl]="descripcionCtrl" required>
                    <mat-hint align="start"><strong>Escribe un corto mensaje</strong> </mat-hint>
                    <mat-hint align="end">{{message.value.length}} / 255</mat-hint>
                    <mat-icon matSuffix matTooltipPosition="right"
                        matTooltip="Ingresa descripción o propuesta corta">
                        help_outline</mat-icon>
                    <mat-error *ngIf="descripcionCtrl.invalid">Ingrese un mensaje o descripción de su lista. </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>

<app-dialog-botones [tipoAccion]="'crear'" [formulario]="registrarListaForm" (onGuardar)="GuardarLista( $event )" (onCancelar)="LimpiarCampos()"></app-dialog-botones>