<app-dialog-titulo [titulo]="'Editar Proceso Electoral'" (onCerrar)="dialogRef.close( $event )"></app-dialog-titulo>

<form novalidate [formGroup]="grupoFormulario" class="d-flex flex-wrap justify-content-center">    
    <mat-form-field appearance="outline">
        <mat-label>Ingrese Descripción</mat-label>
        <input matInput placeholder="Consejo de la Esfot" formControlName="descripcion" required>
        <mat-icon matSuffix matTooltip="Aqui va el nombre o descripción del proceso electoral">help_outline</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Ingrese Semestre</mat-label>
        <input matInput placeholder="Semestre 2020A" formControlName="semestre" required>
        <mat-icon matSuffix matTooltip="Aqui va el semestre que se llevara acabo el proceso electoral">help_outline</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Fecha de la elección</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fec_eleccion" placeholder="dd/mm/aaaa" required>
        <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="Fecha en la que se efectuara el proceso electoral"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Hora de Inicio</mat-label>
        <input matInput formControlName="hora_inicio" type="time" (keypress)="IngresarSoloNumeros($event)" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Hora de Fin</mat-label>
        <input matInput formControlName="hora_final" type="time" (keypress)="IngresarSoloNumeros($event)" required>
    </mat-form-field>
    <section class="example-section">
        <mat-checkbox formControlName="estado" color="primary">Estado</mat-checkbox>
    </section>
</form>

<app-dialog-botones [tipoAccion]="'editar'" [formulario]="grupoFormulario" (onGuardar)="Guardar( $event )"
    (onCancelar)="LimpiarCampos()"></app-dialog-botones>