<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>AQUI VAS A VOTAR</h2>

            <h4>{{ proceso.descripcion }}</h4>
            <h5>{{ proceso.semestre }}</h5>
            <span>{{ proceso.fec_eleccion | date: 'fullDate' }}</span>

            <br><br>

            <ul *ngFor="let item of proceso.lista_electoral ">
                <li>{{ item.nom_lista }} - {{ item.descripcion }}
                    <button mat-raised-button color="primary" (click)="saveVoto(item)">Vota</button>
                </li>
            </ul>

            <!-- <p>With JSON pipe:</p>
            <pre>{{proceso | json}}</pre> -->
        </div>
    </div>
</div>