<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav mat-elevation-z15" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">

        <app-menu-lateral></app-menu-lateral>

    </mat-sidenav>

    <mat-sidenav-content class="degradado">
        <mat-toolbar>

            <mat-toolbar-row>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>

                <app-info-user></app-info-user>

                <span class="example-spacer"></span>

                <app-buttons-menu [showBtn]="showBtn"></app-buttons-menu>

            </mat-toolbar-row>

        </mat-toolbar>

        <div class="container-fluid px-5" style="margin-top: 25px; padding-bottom: 60px; max-width: 1500px">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>