<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <span>Esfot Electoral App</span>
    <span class="espaciado-barra"></span>
    <!-- <button mat-button class="color-letra" [routerLink]="['']" aria-label="Visaliza la votación en tiempo real">
        Estadisticas
    </button> -->
    <button mat-button class="color-letra" aria-label="Ingresa al sistema" (click)="cambiarRuta()">
        Iniciar Sesión
    </button>
    
</mat-toolbar>