<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="d-flex justify-content-around flex-wrap">
                <div class="Cajas">
                    <mat-card class="mat-elevation-z8">
                        <h4>Cambia contraseña</h4>
                        <form novalidate [formGroup]="grupoFormulario" class="d-flex flex-wrap justify-content-center">
                            <mat-form-field appearance="outline">
                                <mat-label>Nueva contraseña</mat-label>
                                <input matInput trimKeyUp [type]="hiddenpassword ? 'password' : 'text'" formControlName="newpassword"required>
                                <button mat-icon-button matSuffix (click)="hiddenpassword = !hiddenpassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hiddenpassword">
                                    <mat-icon>{{hiddenpassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Confirmar contraseña</mat-label>
                                <input matInput trimKeyUp [type]="hiddennewpassword ? 'password' : 'text'" formControlName="confirmpassword"required>
                                <button mat-icon-button matSuffix (click)="hiddennewpassword = !hiddennewpassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hiddennewpassword">
                                    <mat-icon>{{hiddennewpassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </form>
                        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="Guardar(grupoFormulario.value)" [disabled]="!grupoFormulario.valid">Enviar</button>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</header>