<div class="d-flex justify-content-center" style="margin-top: 18px;">
    <div id="avatar">
        <span class="iniciales d-flex align-items-center justify-content-center" style="margin-top: 8px;">{{user?.iniciales | uppercase}}</span>
    </div>
    <div class="d-flex flex-column bd-highlight" style="margin-left: 19px; margin-top: 3px;">
        <h3 class="bd-highlight">{{user?.username}}</h3>
        <p class="bd-highlight" style="font-size: 13px; margin-top: -10px;">{{user?.email}}</p>
    </div>
</div>