<app-dialog-titulo [titulo]="'Editar Opcion Menu'" (onCerrar)="dialogRef.close( $event )"></app-dialog-titulo>

<form novalidate [formGroup]="grupoFormulario" class="d-flex flex-wrap justify-content-center">
    <mat-form-field appearance="outline">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="id_rol" required>
            <mat-option *ngFor="let rol of lroles" [value]="rol.id">
                {{rol.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Ruta</mat-label>
        <mat-select formControlName="cruta" required>
            <mat-option *ngFor="let tran of ltransacciones" [value]="tran.ruta">
                {{tran.ruta}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="..." formControlName="nombre" required>
        <mat-icon matSuffix matTooltip="Nombre principal del conjunto" id="icono-style">help_outline
        </mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Icon</mat-label>
        <input matInput placeholder="..." formControlName="icon">
        <mat-icon matSuffix matTooltip="Nombre icono" id="icono-style">help_outline</mat-icon>
    </mat-form-field>
    <section class="example-section">
        <mat-checkbox formControlName="crear" color="primary">Crear</mat-checkbox>
    </section>
    <section class="example-section">
        <mat-checkbox formControlName="editar" color="primary">Editar</mat-checkbox>
    </section>
    <section class="example-section">
        <mat-checkbox formControlName="eliminar" color="primary">Eliminar</mat-checkbox>
    </section>
    <section class="example-section">
        <mat-checkbox formControlName="mostrarmenu" color="primary">Mostrar Menú</mat-checkbox>
    </section>
</form>

<app-dialog-botones [tipoAccion]="'editar'" [formulario]="grupoFormulario" (onGuardar)="Guardar( $event )"
    (onCancelar)="LimpiarCampos()"></app-dialog-botones>